* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}



:root {
    --appBackground: #0a1014;
    --side: #111b21;
    --right-side: #111b21;
    --secondary: #202c33;
    --border-right: rgba(233, 237, 239, 0.12);
    --icons: #aebac1;
    --tick-icons: #53bdeb;
    --primary: #8696a0;
    --block: #2a3942;
    --block-footer: #2a3942;
    --h4: #e9edef;
    --unread: #00a884;
    --dropdown: #233138;
    --listItem: #d1d7db;
    --shadow-rgb: 11, 20, 26;
    --listItemHover: #182229;
    --chat: #005c4b;
    --icon-focus: hsla(0, 0%, 100%, 0.1);
    --scrollBar: #445561;
}

.dark-theme {
    --appBackground: linear-gradient(#009688 0%, #009688 130px, #d9dbd5 130px, #d9dbd5 100%);
    --side: #fff;
    --right-side: #efeae2;
    --secondary: #f0f2f5;
    --border-right: #e9edef;
    --icons: #54656f;
    --tick-icons: #53bdeb;
    --primary: #54656f;
    --block: #e2e6ec;
    --block-footer: #fff;
    --h4: #111b21;
    --unread: #25d366;
    --dropdown: #fff;
    --shadow-rgb: 11, 20, 26;
    --listItem: ##3b4a54;
    --listItemHover: #f5f6f6;
    --chat: #d9fdd3;
    --icon-focus: rgba(11, 20, 26, 0.1);
    --scrollBar: #c0c6ce;
}

.body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: var(--appBackground);
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--scrollBar);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--scrollBar);
}

body .container {
    display: flex;
    width: 1600px;
    max-width: 100%;
    height: calc(100vh - 40px);
    display: flex;
}

.container .leftSide {
    position: relative;
    flex: 30%;
    background-color: var(--side);
    border-right: 1px solid var(--border-right);
}

.container .rightSide {
    position: relative;
    flex: 70%;
    background-color: var(--right-side);
}

.container .rightSide::before {
    content: '';
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background: url('../images/bg-chat.png');
    opacity: 0.09;
}

.header {
    position: relative;
    width: 100%;
    height: 60px;
    background: var(--secondary);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
}

.userImg {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}

.cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#moon {
    height: auto;
    width: 37px;
    cursor: pointer;
}

.icons {
    flex: none;
    color: var(--icons);
    padding: 0 7px;
    margin-left: 3px;
    display: inline-table;
}

.search-bar {
    margin-top: 7px;
    margin-bottom: 7px;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
}

.search-bar div {
    width: 100%;
}

.search-bar div input {
    width: 100%;
    border: none;
    outline: none;
    background: var(--secondary);
    border-radius: 7px;
    padding: 6px;
    height: 38px;
    font-size: 14px;
    align-items: center;
    color: var(--h4);
    padding-left: 45px;
}

.search-bar div input::placeholder {
    font-size: 13px;
    color: var(--primary);
}


.search-bar div i {
    position: absolute;
    left: 30px;
    top: 7px;
    font-size: 1em;
    color: var(--icons);
    justify-content: center;
    align-items: center;
}

.chats {
    position: relative;
    height: calc(100% - 112px);
    overflow-y: auto;
}

.chats .block {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 15px;
    border-bottom: 0.7px solid var(--block);
    cursor: pointer;
}

.chats .block.active {
    background: var(--block);
    border-top: 0.2px solid var(--block);
}

.chats .block.active:hover {
    background: var(--block);
}

.chats .block:hover {
    background: var(--secondary);
}

.chats .block .imgBox {
    position: relative;
    min-width: 45px;
    height: 45px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 10px;
}

.chats .block .h-text {
    position: relative;
    width: 100%;
}

.chats .block .h-text .head {
    display: flex;
    justify-content: space-between;
    margin-bottom: -6px;
}

.chats .block .h-text .head h4 {
    font-size: 16px;
    font-weight: 400;
    color: var(--h4);
    letter-spacing: 0.4px;
}

.chats .block .h-text .head .time {
    font-size: 11px;
    font-weight: 400;
    color: var(--primary);
    margin-bottom: 0rem;
}

.chats .block.unread .h-text .head .time {
    color: var(--unread);
}

.message {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.message p {
    font-size: 13px;
    font-weight: 400;
    color: var(--primary);
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-bottom: 0rem;
}

.chats .block.tick .tick {
    display: flex;
    align-items: center;
}

.chats .block.tick .tick p {
    font-size: 13px;
    font-weight: 400;
    color: var(--primary);
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-bottom: 0rem;
    margin-left: 35px;
}

.chats .block.tick .tick i {
    color: var(--tick-icons);
    margin-right: -30px;
    font-size: 20px;
}

.chats .block.untick .untick {
    display: flex;
    align-items: center;
}

.chats .block.untick .untick p {
    font-size: 13px;
    font-weight: 400;
    color: var(--primary);
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-bottom: 0rem;
    margin-left: 35px;
}

.chats .block.untick .untick i {
    color: var(--primary);
    margin-right: -30px;
    font-size: 20px;
}

.message b {
    background: var(--unread);
    color: #fff;
    min-width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.75em;
}


/* Right Side */
.imgText {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgText h4 {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.2em;
    margin-left: 10px;
    color: var(--h4);
    margin-top: 10px;
}

.imgText h4 span {
    font-weight: 400;
    color: var(--primary);
    font-size: 13px;
}

/* DropdownLeft Menu */
.dropLeft {
    display: flex;
    display: none;
    background: var(--dropdown);
    border-radius: 3px;
    box-shadow: 0 2px 5px 0 rgba(var(--shadow-rgb), .26), 0 2px 10px 0 rgba(var(--shadow-rgb), .16);
    margin-top: 226.5px;
    margin-right: -297px;
    z-index: 100;
    padding: 9px 0;
    position: relative;
    max-width: 340px;
}

.dropLeft ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}

.dropLeft ul li .listItem {
    position: relative;
    padding-right: 50px;
    padding-left: 24px;
    padding-top: 11px;
    color: var(--listItem);
    font-size: 13px;
    cursor: pointer;
    box-sizing: border-box;
    display: block;
    height: 40px;
}

.dropLeft ul li .listItem:hover {
    background: var(--listItemHover);
}


/* Dropdown Menu */
.drop {
    display: flex;
    display: none;
    background: var(--dropdown);
    border-radius: 3px;
    box-shadow: 0 2px 5px 0 rgba(var(--shadow-rgb), .26), 0 2px 10px 0 rgba(var(--shadow-rgb), .16);
    margin-top: 345.5px;
    margin-right: -538px;
    z-index: 100;
    padding: 9px 0;
    position: relative;
    max-width: 340px;
}

.drop ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}

.drop ul li .listItem {
    position: relative;
    padding-right: 50px;
    padding-left: 24px;
    padding-top: 11px;
    color: var(--listItem);
    font-size: 13px;
    cursor: pointer;
    box-sizing: border-box;
    display: block;
    height: 40px;
}

.drop ul li .listItem:hover {
    background: var(--listItemHover);
}

.chatBox {
    position: relative;
    width: 100%;
    height: calc(100% - 120px);
    padding: 50px 115px 0 115px;
    overflow-y: auto;
}

.chatMessage {
    position: relative;
    display: flex;
    width: 100%;
    margin: 5px 0;
}

.chatMessage .textChat {
    position: relative;
    display: flex;
    right: 0;
    text-align: right;
    max-width: 65%;
    padding: 9px 9px 4px 9px;
    background: var(--chat);
    border-radius: 7.5px;
    font-size: 13px;
    color: var(--h4);
}

.chatMessage .textChat::before {
    content: '';
    position: absolute;
    top: 0;
    right: -12px;
    width: 20px;
    height: 20px;
    background: linear-gradient(135deg, var(--chat) 0%, var(--chat) 50%, transparent 50%, transparent);
}

.chatMessage .textChat span {
    display: block;
    font-size: 0.7000rem;
    margin: 9px 0 -3px 10px;
    color: var(--chat-span);
}

.chatMessage .textChat i {
    color: var(--tick-icons);
    font-size: 15px;
    margin-bottom: -10px;
    margin-left: 5px;
    margin: 5.7px 0 -6px 3px;
}

.chatMessage.untick i {
    color: var(--primary);
    font-size: 15px;
    margin-bottom: -10px;
    margin-left: 5px;
    margin: 5.7px 0 -6px 3px;
}

.my-chat {
    justify-content: flex-end;
}

.frnd-chat {
    justify-content: flex-start;
}

.frnd-chat .textChat {
    text-align: left;
    background: var(--block-footer);
}

.chatMessage.frnd-chat .textChat::before {
    content: '';
    position: absolute;
    top: 0;
    left: -12px;
    width: 20px;
    height: 20px;
    background: linear-gradient(225deg, var(--block-footer) 0%, var(--block-footer) 50%, transparent 50%, transparent);
}

/* Chat Input */
.chat-footer {
    position: relative;
    display: flex;
    width: 100%;
    height: 60px;
    padding: 15px;
    background: var(--secondary);
    justify-content: space-between;
    align-items: center;
}

.chat-footer .icons {
    color: var(--primary);
}

.chat-footer input {
    position: relative;
    width: 100%;
    margin: 5px 10px;
    padding: 9px 12px 11px;
    background: var(--block-footer);
    border-radius: 6px;
    border: none;
    outline: none;
    color: var(--h4);
    font-size: 15px;
}

.chat-footer input::placeholder {
    color: var(--primary);
    font-size: 15px;
}

/* Popup Screen */
.pP:focus {
    background: var(--icon-focus);
    padding: 7px;
    border-radius: 50%;
    transition: 0.2s all linear;
}


.pUP:focus {
    background: var(--icon-focus);
    padding: 7px;
    border-radius: 50%;
    transition: 0.2s all linear;
}

.popup {
    display: none;
}

.popupScreen ul {
    position: absolute;
    left: 50px;
    padding: 0 0 0;
    bottom: 40px;
    list-style: none;
}

.popopIcons {
    transition: 0.5s all linear;
    margin-bottom: 10px;
}





/* CHAT SCREEN */
.header-Chat {
    position: relative;
    width: 100%;
    height: 108px;
    background: var(--secondary);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
}

.icons {
    flex: none;
    color: var(--icons);
    padding: 0 7px;
    margin-left: 3px;
    display: inline-table;
}

.search-bar {
    margin-top: 7px;
    margin-bottom: 7px;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
}

.search-bar div {
    width: 100%;
}

.search-bar div input {
    width: 100%;
    border: none;
    outline: none;
    background: var(--secondary);
    border-radius: 7px;
    padding: 6px;
    height: 38px;
    font-size: 14px;
    align-items: center;
    color: var(--h4);
    padding-left: 45px;
}

.search-bar div input::placeholder {
    font-size: 13px;
    color: var(--primary);
}


.search-bar div i {
    position: absolute;
    left: 30px;
    top: 7px;
    font-size: 1em;
    color: var(--icons);
    justify-content: center;
    align-items: center;
}

.chats-new {
    position: relative;
    height: calc(100% - 160px);
    overflow-y: auto;
}

.chats-new .block {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 15px;
    border-bottom: 0.7px solid var(--block);
    cursor: pointer;
}

.chats-new .block.active {
    background: var(--block);
    border-top: 0.2px solid var(--block);
}

.chats-new .block.active:hover {
    background: var(--block);
}

.chats-new .block:hover {
    background: var(--secondary);
}

.chats-new .block .imgBox {
    position: relative;
    min-width: 45px;
    height: 45px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 10px;
}

.chats-new .block .h-text {
    position: relative;
    width: 100%;
}

.chats-new .block .h-text .head {
    display: flex;
    justify-content: space-between;
    margin-bottom: -6px;
}

.chats-new .block .h-text .head h4 {
    font-size: 16px;
    font-weight: 400;
    color: var(--h4);
    letter-spacing: 0.4px;
}

.chats-new .block .h-text .head .time {
    font-size: 11px;
    font-weight: 400;
    color: var(--primary);
    margin-bottom: 0rem;
}

.chats-new .block.unread .h-text .head .time {
    color: var(--unread);
}

.message {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.message p {
    font-size: 13px;
    font-weight: 400;
    color: var(--primary);
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-bottom: 0rem;
}

.chats-new .block.tick .tick {
    display: flex;
    align-items: center;
}

.chats-new .block.tick .tick p {
    font-size: 13px;
    font-weight: 400;
    color: var(--primary);
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-bottom: 0rem;
    margin-left: 35px;
}

.chats-new .block.tick .tick i {
    color: var(--tick-icons);
    margin-right: -30px;
    font-size: 20px;
}

.chats-new .block.untick .untick {
    display: flex;
    align-items: center;
}

.chats-new .block.untick .untick p {
    font-size: 13px;
    font-weight: 400;
    color: var(--primary);
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-bottom: 0rem;
    margin-left: 35px;
}

.chats-new .block.untick .untick i {
    color: var(--primary);
    margin-right: -30px;
    font-size: 20px;
}

.message b {
    background: var(--unread);
    color: #fff;
    min-width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.75em;
}