* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.animate__animated {
    --animate-duration: 200ms;
    --animate-delay: 0.3s;
}

:root {
    --appBackground: #0a1014;
    --side: #111b21;
    --right-side: #111b21;
    --secondary: #202c33;
    --border-right: rgba(233, 237, 239, 0.12);
    --icons: #aebac1;
    --tick-icons: #53bdeb;
    --primary: #8696a0;
    --block: #2a3942;
    --block-footer: #2a3942;
    --h4: #e9edef;
    --unread: #00a884;
    --dropdown: #233138;
    --listItem: #d1d7db;
    --shadow-rgb: 11, 20, 26;
    --listItemHover: #182229;
    --chat: #005c4b;
    --icon-focus: hsla(0, 0%, 100%, 0.1);
    --scrollBar: #445561;
    --head-title: #d9dee0;
    --header-bg: #202c33;
    --new-g: #DFE5E7;
    --settings-icon: #8696a0;
    --profile-bg: #182229;
    --profile-BGG: #111b21;
    --yur-name-abt: #008069;
}

.dark-theme {
    --appBackground: linear-gradient(#00a884 0%, #00a884 130px, #d9dbd5 130px, #d9dbd5 100%);
    --side: #fff;
    --right-side: #efeae2;
    --secondary: #f0f2f5;
    --border-right: #e9edef;
    --icons: #54656f;
    --tick-icons: #53bdeb;
    --primary: #54656f;
    --block: #e2e6ec;
    --block-footer: #fff;
    --h4: #111b21;
    --unread: #25d366;
    --dropdown: #fff;
    --shadow-rgb: 11, 20, 26;
    --listItem: ##3b4a54;
    --listItemHover: #f5f6f6;
    --chat: #d9fdd3;
    --icon-focus: rgba(11, 20, 26, 0.1);
    --scrollBar: #c0c6ce;
    --head-title: #fff;
    --header-bg: #008069;
    --new-g: #111b21;
    --settings-icon: #8696a0;
    --profile-bg: #fff;
    --profile-BGG: #f0f2f5;
    --yur-name-abt: #008069;

}

.body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: var(--appBackground);
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--scrollBar);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--scrollBar);
}

body .container {
    display: flex;
    width: 1620px;
    max-width: 100%;
    height: calc(100vh - 40px);
    display: flex;
}

.container .leftSide {
    position: relative;
    flex: 30%;
    background-color: var(--side);
    border-right: 1px solid var(--border-right);
}

.container .rightSide {
    position: relative;
    flex: 70%;
    background-color: var(--right-side);
}

.container .rightSide::before {
    content: '';
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background: url('../images/bg-chat.png');
    opacity: 0.09;
}

.header {
    position: relative;
    width: 100%;
    height: 60px;
    background: var(--secondary);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
}

.userImg {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}

.cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#moon {
    height: auto;
    width: 37px;
    cursor: pointer;
}

.icons {
    flex: none;
    color: var(--icons);
    padding: 0 7px;
    margin-left: 3px;
    display: inline-table;
}

.leftSide .search-bar {
    margin-top: 7px;
    margin-bottom: 7px;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
}

.leftSide .search-bar div {
    width: 100%;
}

.leftSide .search-bar div input {
    width: 100%;
    border: none;
    outline: none;
    background: var(--secondary);
    border-radius: 7px;
    padding: 6px;
    height: 38px;
    font-size: 14px;
    align-items: center;
    color: var(--h4);
    padding-left: 45px;
}

.leftSide .search-bar div input::placeholder {
    font-size: 13px;
    color: var(--primary);
}


.leftSide .search-bar div i {
    position: absolute;
    left: 30px;
    top: 7px;
    font-size: 1em;
    color: var(--icons);
    justify-content: center;
    align-items: center;
}

.chats {
    position: relative;
    height: calc(100% - 112px);
    overflow-y: auto;
}

.chats .block {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 15px;
    border-bottom: 0.7px solid var(--block);
    cursor: pointer;
}

.chats .block.active {
    background: var(--block);
    border-top: 0.2px solid var(--block);
}

.chats .block.active:hover {
    background: var(--block);
}

.chats .block:hover {
    background: var(--secondary);
}

.chats .block .hide {
    display: none;
    color: var(--primary);
    font-size: 19px;
    font-weight: 700;
    height: 19px;
    margin-top: -7px;
    margin-left: 4px;
}

.chats .block:hover .hide {
    display: block;
}

.animate__animated.animate__fadeInRight {
    --animation-delay: 800ms;
    --animation-duration: 0.3s;
}

.chats .block .imgBox {
    position: relative;
    min-width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 10px;
}

.chats .block .h-text {
    position: relative;
    width: 100%;
}

.chats .block .h-text .head {
    display: flex;
    justify-content: space-between;
    margin-bottom: -6px;
}

.chats .block .h-text .head h4 {
    font-size: 16px;
    font-weight: 400;
    color: var(--h4);
    letter-spacing: 0.4px;
}

.chats .block .h-text .head .time {
    font-size: 11px;
    font-weight: 400;
    color: var(--primary);
    margin-bottom: 0rem;
}

.chats .block.unread .h-text .head .time {
    color: var(--unread);
}

.message {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.message p {
    font-size: 13px;
    font-weight: 400;
    color: var(--primary);
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-bottom: 0rem;
}

.chats .block.tick .tick {
    display: flex;
    align-items: center;
}

.chats .block.tick .tick p {
    font-size: 13px;
    font-weight: 400;
    color: var(--primary);
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-bottom: 0rem;
    margin-left: 35px;
    margin-right: auto;
}

.chats .block.tick .tick .blue-t {
    color: var(--tick-icons);
    margin-right: -30px;
    font-size: 20px;
}

.chats .block.untick .untick {
    display: flex;
    align-items: center;
}

.chats .block.untick .untick p {
    font-size: 13px;
    font-weight: 400;
    color: var(--primary);
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-bottom: 0rem;
    margin-left: 35px;
    margin-right: auto;
}

.chats .block.untick .untick .blue-t {
    color: var(--primary);
    margin-right: -30px;
    font-size: 20px;
}

.message b {
    background: var(--unread);
    color: #fff;
    min-width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.75em;
    margin-left: auto;
}


/* Right Side */
.imgText {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgText h4 {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.2em;
    margin-left: 10px;
    color: var(--h4);
    margin-top: 10px;
}

.imgText h4 span {
    font-weight: 400;
    color: var(--primary);
    font-size: 13px;
}

/* DropdownLeft Menu */
.dropLeft {
    display: flex;
    display: none;
    background: var(--dropdown);
    border-radius: 3px;
    box-shadow: 0 2px 5px 0 rgba(var(--shadow-rgb), .26), 0 2px 10px 0 rgba(var(--shadow-rgb), .16);
    margin-top: 226.5px;
    margin-right: -392px;
    z-index: 100;
    padding: 9px 0;
    position: relative;
    max-width: 340px;
}

.dropLeft ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}

.dropLeft ul li .listItem {
    position: relative;
    padding-right: 50px;
    padding-left: 24px;
    padding-top: 11px;
    color: var(--listItem);
    font-size: 13px;
    cursor: pointer;
    box-sizing: border-box;
    display: block;
    height: 40px;
}

.dropLeft ul li .listItem:hover {
    background: var(--listItemHover);
}


/* Dropdown Menu */
.drop {
    display: flex;
    display: none;
    background: var(--dropdown);
    border-radius: 3px;
    box-shadow: 0 2px 5px 0 rgba(var(--shadow-rgb), .26), 0 2px 10px 0 rgba(var(--shadow-rgb), .16);
    margin-top: 345.5px;
    margin-right: -740px;
    z-index: 100;
    padding: 9px 0;
    position: relative;
    max-width: 340px;
}

.drop ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}

.drop ul li .listItem {
    position: relative;
    padding-right: 50px;
    padding-left: 24px;
    padding-top: 11px;
    color: var(--listItem);
    font-size: 13px;
    cursor: pointer;
    box-sizing: border-box;
    display: block;
    height: 40px;
}

.drop ul li .listItem:hover {
    background: var(--listItemHover);
}

.chatBox {
    position: relative;
    width: 100%;
    height: calc(100% - 120px);
    padding: 50px 115px 0 115px;
    overflow-y: auto;
}

.chatMessage {
    position: relative;
    display: flex;
    width: 100%;
    margin: 5px 0;
}

.chatMessage .textChat {
    position: relative;
    display: flex;
    right: 0;
    text-align: right;
    max-width: 65%;
    padding: 9px 9px 4px 9px;
    background: var(--chat);
    border-radius: 7.5px;
    font-size: 13px;
    color: var(--h4);
}

.chatMessage .textChat::before {
    content: '';
    position: absolute;
    top: 0;
    right: -12px;
    width: 20px;
    height: 20px;
    background: linear-gradient(135deg, var(--chat) 0%, var(--chat) 50%, transparent 50%, transparent);
}

.chatMessage .textChat span {
    display: block;
    font-size: 0.7000rem;
    margin: 9px 0 -3px 10px;
    color: var(--chat-span);
}

.chatMessage .textChat i {
    color: var(--tick-icons);
    font-size: 15px;
    margin-bottom: -10px;
    margin-left: 5px;
    margin: 5.7px 0 -6px 3px;
}

.chatMessage.untick i {
    color: var(--primary);
    font-size: 15px;
    margin-bottom: -10px;
    margin-left: 5px;
    margin: 5.7px 0 -6px 3px;
}

.my-chat {
    justify-content: flex-end;
}

.frnd-chat {
    justify-content: flex-start;
}

.frnd-chat .textChat {
    text-align: left;
    background: var(--block-footer);
}

.chatMessage.frnd-chat .textChat::before {
    content: '';
    position: absolute;
    top: 0;
    left: -12px;
    width: 20px;
    height: 20px;
    background: linear-gradient(225deg, var(--block-footer) 0%, var(--block-footer) 50%, transparent 50%, transparent);
}

/* Chat Input */
.chat-footer {
    position: relative;
    display: flex;
    width: 100%;
    height: 60px;
    padding: 15px;
    background: var(--secondary);
    justify-content: space-between;
    align-items: center;
}

.chat-footer .icons {
    color: var(--primary);
}

.chat-footer input {
    position: relative;
    width: 100%;
    margin: 5px 10px;
    padding: 9px 12px 11px;
    background: var(--block-footer);
    border-radius: 6px;
    border: none;
    outline: none;
    color: var(--h4);
    font-size: 15px;
}

.chat-footer input::placeholder {
    color: var(--primary);
    font-size: 15px;
}

/* Popup Screen */
.pP:focus {
    background: var(--icon-focus);
    padding: 7px;
    border-radius: 50%;
    transition: 0.2s all linear;
}

.pUP:focus {
    background: var(--icon-focus);
    padding: 7px;
    border-radius: 50%;
    transition: 0.2s all linear;
}

.popup {
    display: none;
}

.popupScreen ul {
    position: absolute;
    left: 50px;
    padding: 0 0 0;
    bottom: 40px;
    list-style: none;
}

.popopIcons {
    transition: 0.5s all linear;
    margin-bottom: 10px;
}





/* CHAT SCREEN */
.Newchat {
    display: none;
    position: relative;
    flex: 30%;
    background-color: var(--side);
    border-right: 1px solid var(--border-right);
}

.header-Chat {
    position: relative;
    width: 100%;
    height: 110px;
    background: var(--header-bg);
    display: flex;
    padding: 0 15px;
    padding-top: 65px;
}


.header-Chat .newText h2 {
    font-size: 20px;
    color: var(--head-title);
    font-weight: 500;
}

.Newchat .ICON {
    width: 53px;
}

.Newchat .icons {
    flex: none;
    color: var(--head-title);
    padding: 0 7px;
    margin-left: 3px;
    display: inline-table;
}

.Newchat .search-bar {
    margin-top: 7px;
    margin-bottom: 7px;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
}

.Newchat .search-bar div {
    width: 100%;
}

.Newchat .search-bar div input {
    width: 100%;
    border: none;
    outline: none;
    background: var(--secondary);
    border-radius: 7px;
    padding: 6px;
    height: 38px;
    font-size: 14px;
    align-items: center;
    color: var(--h4);
    padding-left: 45px;
}

.Newchat .search-bar div input::placeholder {
    font-size: 13px;
    color: var(--primary);
}


.Newchat .search-bar div i {
    position: absolute;
    left: 30px;
    top: 7px;
    font-size: 1em;
    color: var(--icons);
    justify-content: center;
    align-items: center;
}

.chats-new {
    position: relative;
    height: calc(100% - 160px);
    overflow-y: auto;
}

.chats-new .block {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 15px;
    border-bottom: 0.7px solid var(--block);
    cursor: pointer;
}

.chats-new .block.top {
    border-top: 0.7px solid var(--block);
}

.chats-new .block.group {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 15px;
    cursor: pointer;
}

.chats-new .block.group .iconBox {
    background: #00a884;
    display: flex;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}

.chats-new .block.group .iconBox i {
    color: #DFE5E7;
    font-size: 24px;
    padding-bottom: 4px;
}

.chats-new .block.group .head h4 {
    color: var(--new-g);
    font-size: 17px;
    font-weight: 400;
    padding-left: 10px;
    margin-bottom: -4px;
}


.chats-new .a {
    padding-top: 23px;
    padding-bottom: 20px;
    padding-left: 33px;
}

.chats-new .a h3 {
    color: #008069;
    font-size: 17px;
    font-weight: 300;
}

.chats-new .block:hover {
    background: var(--secondary);
}

.chats-new .block .imgBox {
    position: relative;
    min-width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 10px;
}

.chats-new .block .h-text {
    position: relative;
    width: 100%;
}

.chats-new .block .h-text .head {
    display: flex;
    justify-content: space-between;
    margin-bottom: -6px;
}

.chats-new .block .h-text .head h4 {
    font-size: 16px;
    font-weight: 400;
    color: var(--h4);
    letter-spacing: 0.4px;
}

.message {
    display: flex;
    justify-content: space-between;
    align-items: center;
}





/* Group CHAT SCREEN */
.group {
    display: none;
    position: relative;
    flex: 30%;
    background-color: var(--side);
    border-right: 1px solid var(--border-right);
}

.header-Chat {
    position: relative;
    width: 100%;
    height: 110px;
    background: var(--header-bg);
    display: flex;
    padding: 0 15px;
    padding-top: 65px;
}


.header-Chat .newText h2 {
    font-size: 20px;
    color: var(--head-title);
    font-weight: 500;
}

.group .ICON {
    width: 53px;
}

.group .icons {
    flex: none;
    color: var(--head-title);
    padding: 0 7px;
    margin-left: 3px;
    display: inline-table;
}

.group .search-bar {
    margin-top: 7px;
    margin-bottom: 7px;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
}

.group .search-bar div {
    width: 100%;

}

.group .search-bar div input {
    width: 100%;
    border: none;
    outline: none;
    background: transparent;
    border-bottom: 2px solid rgba(134, 150, 160, 0.15);
    padding: 6px;
    height: 38px;
    font-size: 14px;
    align-items: center;
    color: var(--h4);
    padding-left: 45px;
}

.group .search-bar div input::placeholder {
    font-size: 13px;
    color: var(--primary);
}


.group .search-bar div i {
    position: absolute;
    left: 30px;
    top: 7px;
    font-size: 1em;
    color: var(--icons);
    justify-content: center;
    align-items: center;
}

.chats-group {
    position: relative;
    height: calc(100% - 160px);
    overflow-y: auto;
}

.chats-group .block {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 15px;
    border-bottom: 0.7px solid var(--block);
    cursor: pointer;
}

.chats-group .block.top {
    border-top: 0.7px solid var(--block);
}

.chats-group .block.group {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 15px;
    cursor: pointer;
}

.chats-group .block.group .iconBox {
    background: #00a884;
    display: flex;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}

.chats-group .block.group .iconBox i {
    color: #DFE5E7;
    font-size: 24px;
    padding-bottom: 4px;
}

.chats-group .block.group .head h4 {
    color: #DFE5E7;
    font-size: 17px;
    font-weight: 400;
    padding-left: 10px;
    margin-bottom: -4px;
}

.chats-group .a {
    padding-top: 23px;
    padding-bottom: 20px;
    padding-left: 33px;
}

.chats-group .a h3 {
    color: var(--yur-name-abt);
    font-size: 17px;
    font-weight: 300;
}

.chats-group .block:hover {
    background: var(--secondary);
}

.chats-group .block .imgBox {
    position: relative;
    min-width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 10px;
}

.chats-group .block .h-text {
    position: relative;
    width: 100%;
}

.chats-group .block .h-text .head {
    display: flex;
    justify-content: space-between;
    margin-bottom: -6px;
}

.chats-group .block .h-text .head h4 {
    font-size: 16px;
    font-weight: 400;
    color: var(--h4);
    letter-spacing: 0.4px;
}

.message {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



/* Settings CHAT SCREEN */
.settings {
    display: none;
    position: relative;
    flex: 30%;
    background-color: var(--side);
    border-right: 1px solid var(--border-right);
}

.header-Chat {
    position: relative;
    width: 100%;
    height: 110px;
    background: var(--header-bg);
    display: flex;
    padding: 0 15px;
    padding-top: 65px;
}

.settings .icons {
    flex: none;
    color: var(--head-title);
    padding: 0 7px;
    margin-left: 3px;
    display: inline-table;
}

.header-Chat .newText h2 {
    font-size: 20px;
    color: var(--head-title);
    font-weight: 500;
}

.icon-Box {
    flex: none;
    color: var(--settings-icon);
    padding: 0 7px;
    padding-right: 19px;
    display: inline-table;
    align-items: center;
    margin-bottom: 6px;
}

.chats-settings {
    position: relative;
    height: calc(100% - 110px);
    overflow-y: auto;
}

.chats-settings .block {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 15px;
    border-bottom: 0.7px solid var(--block);
    cursor: pointer;
    height: 60px;
}

.chats-settings .top {
    position: relative;
    border-bottom: none;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 15px;
    cursor: pointer;
}

.chats-settings .block.bottom {
    border-bottom: none;
}

.chats-settings .block:hover {
    background: var(--secondary);
}

.chats-settings .top:hover {
    background: var(--secondary);
}

.chats-settings .top .imgBox {
    position: relative;
    min-width: 80px;
    height: 80px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 10px;
}

.chats-settings .block .h-text .head {
    display: flex;
    justify-content: space-between;
    margin-bottom: -6px;
}

.chats-settings .block .h-text .head h4 {
    font-size: 16px;
    font-weight: 400;
    color: var(--h4);
    letter-spacing: 0.4px;
}

.chats-settings .top .h-text {
    position: relative;
    width: 100%;
}

.chats-settings .top .h-text .head {
    display: flex;
    justify-content: space-between;
    margin-bottom: -6px;
}

.chats-settings .top .h-text .head h4 {
    font-size: 16px;
    font-weight: 400;
    color: var(--h4);
    letter-spacing: 0.4px;
}


/* Profile CHAT SCREEN */
.profile {
    display: none;
    position: relative;
    flex: 30%;
    background-color: var(--profile-BGG);
    border-right: 1px solid var(--border-right);
}

.header-Chat {
    position: relative;
    width: 100%;
    height: 110px;
    background: var(--header-bg);
    display: flex;
    padding: 0 15px;
    padding-top: 65px;
}

.profile .icons {
    flex: none;
    color: var(--head-title);
    padding: 0 7px;
    margin-left: 3px;
    display: inline-table;
}

.header-Chat .newText h2 {
    font-size: 20px;
    color: var(--head-title);
    font-weight: 500;
    margin-left: 15px;
}

.chats-profile {
    position: relative;
    height: calc(100% - 110px);
    overflow-y: auto;
}

.chats-profile .block {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    padding-top: 14px;
    padding-bottom: 13px;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 10px;
    background: var(--profile-bg);
}

.chats-profile .block .h-text {
    position: relative;
    width: 100%;
}

.chats-profile .warning {
    position: relative;
    width: 100%;
    background: none;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 12px;
    padding-top: 9px;
}

.chats-profile .warning .warn-text h4 {
    font-size: 12.5px;
    letter-spacing: 0.2px;
    color: #6c757d;
    font-weight: 400;
}

.chats-profile .block .h-text .titlePro p {
    font-size: 13.5px;
    color: var(--yur-name-abt);
    margin-bottom: 20px;
}

.chats-profile .top {
    position: relative;
    border-bottom: none;
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 28px;
    margin-bottom: 28px;
}

.chats-profile .top .imgBox {
    position: relative;
    min-width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: auto;
    margin-left: auto;
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 205px;
    height: 205px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background: rgba(30, 42, 49, 0.8);
}

.chats-profile .top .imgBox:hover .image {
    opacity: 0.3;
}

.chats-profile .top .imgBox:hover .middle {
    opacity: 1;
}

.icons-profile {
    flex: none;
    color: var(--settings-icon);
    padding: 0 90px;
    text-align: center;
    align-items: center;
    margin-top: 50px;
    display: flex;
}

.text {
    color: white;
    font-size: 14px;
    font-weight: 300;
    padding: 12px 47px;
    display: flex;
    margin: auto;
    align-items: center;
}

.icons-prof {
    flex: none;
    color: var(--settings-icon);
    padding: 0 7px;
    display: flex;
    align-items: center;
}


.chats-profile .block .h-text {
    position: relative;
    width: 100%;
}

.chats-profile .block .h-text .head {
    display: flex;
    justify-content: space-between;
}

.chats-profile .block .h-text .head h4 {
    font-size: 15px;
    font-weight: 400;
    color: var(--h4);
    letter-spacing: 0.4px;
    margin-bottom: 0;
    word-wrap: break-word;
    white-space: pre-wrap;
}